  /* Palitra */
  :root{
    --hover-color: #2196F3;
    --h-color: #212121;
    --background-header: #FFFFFF;
    --hero-background: #2F303A;
    --p-color: #757575;
    --team-background: #F5F4FA;
    --button-servise: #188ce8;
    --mail-tel: rgba(255, 255, 255, 0.6);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --new-timing-function: 250ms;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  ul,
  ol {
    margin: 0;
    padding-left: 0;
  }
  button {
    cursor: pointer;
  }
  address {
    font-style: normal;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  body {
    font-family:Roboto, sans-serif;
  color: var(--h-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--background-header);
  }

  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  /* outline: 2px solid red;*/
  }

  /*----початок---*/

  .page-header{
    border-bottom: 1px solid #ECECEC;
  }

  /* Логотип*/
  .logo :hover{
    color :var(--hover-color); 
    
  }

  .logo-part{
      color:#000000;
    
  }

  .logo-part-footer{
    color: var(--background-header);
  
  }
  /* ------------ Два кольори лого--------*/
  .icon-logo{
    color:var(--hover-color);
    text-decoration: none;
  font-family: Raleway, sans-serif; 
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display: inline-block;
    width: 145px;
  
  }
  /*------ The End-----*/
  /* -----------Головна навігація------ */
  .overlay{
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url("..//images/fon.jpg");
    max-width: 1600px;
    background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  }
  .nav{
    display: flex;
    align-items: center;
  }
  .header-container{
    display: flex;
    align-items: center; 
  }

  .nav-list{
    list-style: none;
    display: flex;
    gap: 50px;
    margin-left: 94px;
   

  }
  .nav-link :hover,
  .nav-link :focus{
    color: var(--hover-color);
  } 
  
  .nav-link{
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--h-color);
  text-decoration: none;
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
transition: color var(--new-timing-function) var(--timing-function);
  }
  .current{
    color: var(--hover-color);
  }

  /*------варіант 1 підкреслення -----*/
  
  .current::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px; ;
    border-radius: 2px;
    background-color: var(--hover-color);
    position: absolute;
    left: 0;
    bottom: -1px;
    opacity: 0;

  }
  
 .current::after{
  opacity: 1;
}

  /*-----The End-----*/
  /*------Текст контактів в хедері------*/

  .contacts{
    list-style: none;
  font-weight: 500;
  display: flex;
  margin-left: auto;
  gap: 50px;
  }


  .mail{
    color: var(--p-color);
    text-decoration: none;
    font-style: normal;
    line-height: 1.14;
  
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    transition: color var(--new-timing-function) var(--timing-function);
  }
  .icon-envelope{
    fill: currentColor;
    margin-right: 10px;
  }
    
  
  .tel{
  color: var(--p-color);
    text-decoration: none;
    font-style: normal;
    line-height: 1.14;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    transition: color var(--new-timing-function) var(--timing-function);

  }
  .icon-smartphone{
    fill: currentColor;
    margin-right:10px ;
   
  }
  .contacts :hover,
  .contacts :focus{
    color: var(--hover-color);
    
  }

  /*---------Hero-----*/
  .hero-section{
  padding-top:200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #C4C4C4;
  }


  .hero-title{
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-header);
  width: 696px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 30px;
  }

  .button{
    font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--hover-color);
  color: var(--background-header);
    cursor: pointer;
    padding: 10px 32px;
    border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
 transition: color var(--new-timing-function) var(--timing-function),
     background-color var(--new-timing-function) var(--timing-function);
  }
  .button:hover,
  .button:focus{
    background-color: var(--button-servise);
  }
  /*-----The End Hero----*/

  .visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0, 0, 0, 0);
      clip-path: inset(50%);
      margin: -1px;
  }

  .features{
  padding: 94px 0;
  }

  .features-list{
    list-style: none;  
  }

  .specialty-list{
    width: calc((100% - 90px) / 4);
      margin-right: 30px;
      
    }
  /*------ Особливост -----*/
  .specialty-list::before{
    content:"" ;
    height: 120px;
  display: block;
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position:center ;
  background-color: #F5F4FA;
  border-radius: 4px;
  /*outline: 2px solid red;*/

  }
  .icon-antenna::before{
  background-image: url(../images/antenna.svg); 
  background-size: 70px 70px;
  }
  .icon-clock::before{
  background-image: url(../images/clock.svg);
  background-size: 70px 70px;
  }
  .icon-diagram::before{
    background-image: url(../images/diagram.svg);
    background-size: 70px 70px ;
  }

  .icon-astronaut::before{
  background-image: url(../images/astronaut.svg);
  background-size: 70px 70px;
  }

  .features-list :last-child{
    margin: 0;
  }

  .specialty{
    font-style: normal;
      font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--h-color);
  margin-top: 30px;
  margin-bottom: 10px;
  }

  /*-------- Чим ми займаємося ----*/
  .work{
    padding-bottom: 94px;
  }
  .specialty-text {
  line-height: 1.7;
  color: var(--p-color);
  margin-top: 10px;
  }
  .work-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
  gap: 30px;

  }
  .work-pick-tumb{
    position: relative;
    display: flex;

  }
  .work-pick-txt{
    position: absolute;
    background: rgba(47, 48, 58, 0.8);
width: 370px;
    display: flex;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
justify-content: space-around;
padding-top: 24px;
padding-bottom: 24px;
color: #FFFFFF;
bottom: 0;
  }

  .work-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--h-color);
  margin-bottom: 50px;
  }
  
  .team {
    background-color: var(--team-background);
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-members{
  background-color: var(--background-header);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  }
  .team-title {
    font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--h-color);
  white-space: nowrap;
  margin-bottom: 50px;

  }
  .social-list-link{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    

  }
  .social-list-item{
    width: 44px;
    height: 44px;
      border-radius: 50%;
    
  }

  .social-link{
    width: 100%;
    height: 100%;
    background: #ffffff;
  border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#AFB1B8 ;
     transition: color var(--new-timing-function) var(--timing-function),
     background-color var(--new-timing-function) var(--timing-function);
  }

  .social-list-icon{
    fill: currentColor;
  }

  .social-link:hover,
  .social-link:focus{
    background-color: #2196F3;
    color: #FFFFFF;  
  }


  .team-list {
    list-style: none;
    line-height: 1.18;
        justify-content: space-around;
        gap: 30px;
  }
  .team-name{
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--h-color);
  margin-bottom: 10px;

  }

  .team-position{
  font-size: 16px;
  text-align: center;
  color: var(--p-color);
  margin-bottom: 16px;
  }
  .retreat{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  /*------Footer----*/

  /*
  .contacts-footer{
    background-color: var(--hero-background);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .contacts-list{
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      flex-direction:column ;
                
  }

  .contacts-list :last-child{
    margin-bottom: 0;
  }
  .list-link{
    margin-bottom: 9px;
    
  }

  .contacts-list :hover,
  .contacts-list :focus{
    color: var(--hover-color);
   
  }


  .contacts-plane{
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  color: var(--background-header);
  display: block;
  transition: color var(--new-timing-function) var(--timing-function);
    
  }
  .mail-footer,
  .tel-footer{
    color: var(--mail-tel);
    text-decoration: none;
    font-style: normal;
    line-height: 1.71;
    box-sizing: border-box;
    transition: color var(--new-timing-function) var(--timing-function);
     
  }
*/


  /*------btn-filter Портфоліо---*/

  .btn{
    font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--team-background);
  border-color: transparent;
  cursor: pointer;
  color: var(--h-color);
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
    transition: color var(--new-timing-function) var(--timing-function),
    background-color var(--new-timing-function) var(--timing-function),
    box-shadow var(--new-timing-function) var(--timing-function);
  
  }

  .btn:hover,
  .btn:focus{
    color: var(--background-header);
  background: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
 
  }
  .btn-filter{
    display: flex;
    gap: 8px;
    justify-content: center;
  }

  .btn-list{
    list-style: none;
    letter-spacing: 0.03em;
  }
 

  /*---The end Filtr--*/
  .oll-portfol{
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .portfol-list{
  flex-basis: calc((100% - 60px) / 3);
  }/*
.portfol-list :hover .portfol-over{
transform: translateY(0);

}
  .portfol-over-top{
    position: relative; 
    overflow: hidden;
    
  }

  .portfol-over{
font-weight: 400;
font-size: 18px;
line-height: 1.55;
color: var(--background-header);
background: rgba(33, 150, 243, 0.9);
position: absolute;
top: 0;
padding-top: 63px;
padding-right: 24px;
padding-left: 24px;
padding-bottom: 63px;
height: 100%;
transform: translateY(100%);
transition: transform var(--new-timing-function) var(--timing-function);
overflow: auto;
}
*/
  .potfol{
    list-style: none;
    flex-wrap: wrap;
  gap: 30px; 
  margin-top: 50px;
  }

  .portfol-link{
    display: block;
    text-decoration: none;
    transition: box-shadow var(--new-timing-function) var(--timing-function);
  
  }

  .portfol-link:hover,
  .portfol-link:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px
  rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: transform var(--new-timing-function) var(--timing-function);

  }

  .portfol-title{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--h-color);

  }
  .portfol-txt{
  font-size: 16px;
  line-height: 1.87;
  color: var(--p-color);
  margin-top: 4px;
  }

  .circle{
    
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 20px 24px;
  }

  /*----Позиціювання-----*/
/*
  .client{
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .client-title{
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--h-color);
  margin-bottom: 50px;
  }

  .client-item{
    list-style: none;
    display: flex;
    gap: 30px;
  }
  .client-list{
    width: calc((100% - 150px) / 6);
    height: 92px;
  }
  .client-link{
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition: color var(--new-timing-function) var(--timing-function),
  border-color var(--new-timing-function) var(--timing-function);
  }
  .client-lis-icon{
    fill:currentColor;
  
  }
  .client-link:hover,
  .client-link:focus{
    border-color: #2196F3;
    color: #2196F3;
  }

  .social-list-link-footer{
    list-style: none;
    display: flex;
    gap: 10px;
  
  }
*/


/*
  .footer-box{
    display: flex;
  flex-wrap: wrap;
 flex-direction: column; 
  }
   .contacts-test{
    display: flex;
     flex-wrap: wrap;
 flex-direction: column; 
 margin-left: 70px;
 
  }
   .footer-flex{
    display: flex;
    align-items: baseline;
  }
  
  
  .footer-p{
    display: block;
    text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--background-header);
  margin-bottom: 20px;

  }
  */
  /*
  .icon-logo-footer{
    color:var(--hover-color);
    text-decoration: none;
  font-family: Raleway, sans-serif; 
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display:block;
    width: 145px;
    margin-bottom: 20px;
  
  }

*/
/*
  .social-link-footer{
    width: 100%;
    height: 100%;
    background-color:  rgba(255, 255, 255, 0.1);
  border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--new-timing-function) var(--timing-function);
    
    
  }

  .social-list-icon-footer{
    fill: var(--background-header);
  }
  .social-list-link-footer{
 transition: background-color var(--new-timing-function) var(--timing-function);
}
.social-link-footer:hover{
  background-color: #2196F3;
}
*/
/*
  .backdrop{
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
transition: opacity var(--new-timing-function) var(--timing-function), visibility var(--new-timing-function) var(--timing-function);
  }
*/
/*
  .modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--background-header);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--new-timing-function) var(--timing-function);
   transform-origin: top left;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
 
}
*/
/*
.modal-close{
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000000;
  position: absolute;
  top: 8px;
  right: 8px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: color var(--new-timing-function) var(--timing-function),
   background-color var(--new-timing-function) var(--timing-function);
}
.modal-close-icon{
  fill: currentColor;
  
}
*/
/*
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
*/
/*
  .modal-close:hover,
  .modal-close:focus{
color: var(--hover-color);
  }
  */
  /*
.modal-title{
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
margin-bottom: 12px;
}

.form-feedback{
  display: flex;
  flex-direction: column;

}
.input-name{
border-radius: 4px;
 display: block;

}
.input-wrap{
  
  position: relative;
  margin-bottom: 10px;
}
.client-name{
  margin-bottom: 4px;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: var(--p-color);
display: block; 
}

.client-name-txt{
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
width: 100%;
height: 40px;
padding-left: 42px;
transition: border-color var(--new-timing-function) var(--timing-function);
outline: transparent;
}
.client-name-txt:hover,
.client-name-txt:focus{
  border-color: var(--hover-color);
}


.icon-person{
position: absolute;
left: 15px;
top: 50%;
transform: translateY(-50%);
} 
.client-name-txt:focus +.icon-person,
.client-name-txt:hover +.icon-person{
  fill: var(--hover-color);
}

.phone-number{
 padding-bottom: 4px;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: var(--p-color); 
display: block;
}
.user-tel{
border: 1px solid rgba(33, 33, 33, 0.2);
 border-radius: 4px;

 width: 100%;
height: 40px;
padding-left: 42px;
transition: border-color var(--new-timing-function) var(--timing-function);
outline: transparent;
}
.user-tel:hover,
.user-tel:focus{
  border-color: var(--hover-color);
}
.user-tel:focus +.icon-person,
.user-tel:hover +.icon-person{
  fill: var(--hover-color);
}
.user-email{
  margin-bottom: 4px;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: var(--p-color);
display: block;
 
}
.user-post{
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
width: 100%;
height: 40px;
padding-left: 42px;
transition: border-color var(--new-timing-function) var(--timing-function);
outline: transparent;
}
.user-post:hover,
.user-post:focus{
 border-color: var(--hover-color); 
}
.user-post:focus +.icon-person,
.user-post:hover +.icon-person{
  fill: var(--hover-color);
}
*/
.deal-check{
  display: flex;
   align-items: center;
  fill: transparent;
  padding-left: 12px;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
}
.checkbox{
line-height: 1.71;
color: var(--p-color);
} 

.check span{
  border-radius: 2px;
  border: 2px solid var(--h-color);
  width: 16px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 9px;

}

.check-inp:checked + .check span{
  fill: var(--background-header);
  background-color: var(--hover-color);
  border: transparent;
}


.check-inp:hover + .check span,
.check-inp:focus + .check span{
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.3), 0px 2px 1px rgba(0, 0, 0, 0.3);
 border-color: var(--hover-color);
 
}

.link-input{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71px;
color: var(--hover-color);
transition: color var(--new-timing-function) var(--timing-function);

}
.link-input:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);;
text-decoration: none;
}

.input-feedback{
margin-bottom: 20px;
}
.feedback{
  margin-bottom: 4px;
  display: block;
  color: var(--p-color);
}
.feedback-txt{
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding: 12px 16px;
display: block;
width: 100%;
height: 120px;
transition: border-color var(--new-timing-function) var(--timing-function);
outline: transparent;
}
.feedback-txt:hover,
.feedback-txt:focus{
 border-color: var(--hover-color); 
}
.feedback-txt::placeholder{
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);

}
 .submit{
line-height: 1.87;
font-weight: 700;
font-size: 16px;
 padding:10px 52px ;
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
display: flex;
justify-content: center;
text-align: center;
letter-spacing: 0.06em;
margin: 0 auto;
border: transparent;

color: var(--background-header);
transition: background var(--new-timing-function) var(--timing-function);
 }
 .submit:hover{
  background: var(--button-servise);
 }   
/*
 .footer-input{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: var(--background-header);
margin-bottom: 20px;
 }

 .sign-email{
  width: 358px;
display: flex;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 16px;
height: 50px;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: transparent;
color: var(--background-header);
 }
.sign-email::placeholder{
font-weight: 400;
font-size: 16px;
line-height: 1.25;
align-items: center;
color: rgba(255, 255, 255, 0.6);

}
.container-input{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 93px;


}
.sign-btn{
font-weight: 700;
font-size: 16px;
line-height: 1.87;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--background-header);
background-color: var(--hover-color);
border-radius: 4px;
display: flex;
border-color: transparent;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
padding-left: 28px;
cursor: pointer;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 28px;
padding-right:28px ;
transition:  color var(--new-timing-function) var(--timing-function),
background-color var(--new-timing-function) var(--timing-function);

}
.sign-btn:hover,
.sign-btn:focus{
color: var(--hover-color);
background-color: var(--background-header);  
}

.plain{
  fill: var(--background-header);
  margin-left: 10px;
}
.sign-btn:hover .plain,
.sign-btn:focus .plain{
fill: currentColor ;
}
.sign-flex{
  display: flex;
  align-items: center;
  gap: 12px;
}