 .team {
    background-color: var(--team-background);
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__container{
      width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
   .team__title {
    font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--h-color);
  white-space: nowrap;
  margin-bottom: 50px;
  }
    .team__list {
    list-style: none;
    line-height: 1.18;
        justify-content: space-around;
        gap: 30px;
        display: flex;
  }
  .team__members{
  background-color: var(--background-header);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  }
 

  .team__name{
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--h-color);
  margin-bottom: 10px;

  }

  .team__position{
  font-size: 16px;
  text-align: center;
  color: var(--p-color);
  margin-bottom: 16px;
  }
  
  .retreat{
    padding-top: 30px;
    padding-bottom: 30px;
  }
