 .work{
    padding-bottom: 94px;
  }

  .work__list{
    list-style: none;
    display: flex;
    justify-content: space-around;
  gap: 30px;

  }
  .work__pick-tumb{
    position: relative;
    display: flex;
  }
  .work__container{
   width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; 
  }