
  .footer-box{
    display: flex;
  flex-wrap: wrap;
 flex-direction: column;
 align-items: center; 
   /*  @media screen and (min-width: 480px){
align-items: center; 
  } */
  @include desktop{
align-items: flex-start;
}
  }
   .contacts-test{
    display: flex;
     flex-wrap: wrap;
 flex-direction: column; 
 text-align: center;
   /* @media screen and (min-width: 480px){
 text-align: center;  
  }*/
    @include desktop{
align-items: flex-start;
}
  }
   .footer-flex{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    justify-content: flex-start;
      @media screen and (min-width: 1200px){
        display: flex;
    gap: 94px;
    justify-content:flex-start;
    align-items: baseline;
    flex-direction: row;
}

}
.footer-up{
  gap: 60px;
  display: flex;
   flex-direction: column;
     @media screen and (min-width: 320px){
    gap: 60px;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
}
  @media screen and (min-width: 480px){
    gap: 60px;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
}
        @media screen and (min-width: 768px){
    display: flex;
    gap: 165px;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
}
@media screen and (min-width: 1200px){
    display: flex;
    align-items: baseline;
    gap: 94px;
}
}
  
  .footer-p{
    display: block;
    text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--background-header);
  margin-bottom: 20px;

  }