 .hero{
  position: relative;
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center; 
  background-color: #C4C4C4;
  @media screen and (min-width: 1200px){
    padding-top: 200px;
    padding-bottom: 200px;
}
  }

  .overlay{
  /* background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url("..//images/fon.jpg");*/
    max-width: 1600px;
    background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  @include mobile{
     background-image: var(--gradient),
    url("..//images/headermob.jpg");
      @include retina{
    background-image: var(--gradient),
    url(..//images/header-mob-2x.jpg)

  }
  }

  @include tablet{
    background-image: var(--gradient),
    url("..//images/headertab.jpg");
      @include retina{
    background-image: var(--gradient),
    url(..//images/header-tab-2x.jpg);

  }
  }
  
  @include desktop{
     background-image: var(--gradient),
    url("..//images/fon.jpg");
     padding-top: 200px;
    padding-bottom: 200px;
      @include retina{
    background-image: var(--gradient),
    url(..//images/hero-2x.jpg);
   
  }
  }
    
  }