 :root{
    --hover-color: #2196F3;
    --h-color: #212121;
    --background-header: #FFFFFF;
    --hero-background: #2F303A;
    --p-color: #757575;
    --team-background: #F5F4FA;
    --button-servise: #188ce8;
    --mail-tel: rgba(255, 255, 255, 0.6);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --new-timing-function: 250ms;
  }
